<a [routerLink]="['/admin/pharmacy/add', 0 ]"><button class="btn btn-success pull-right" > Add Pharmacy</button></a>

<table class="table">
  <thead>
    <th>Id</th>
    <th>Pharmacy Name</th>
    <th>Photo</th>
    <th>Action</th>
  </thead>
  <tbody>
    <tr *ngFor="let pharmacy of pharmaciesList">
      <td>{{pharmacy.id}}</td>
      <td>{{pharmacy.pharmacyName}}</td>
      <td>{{pharmacy.photo}}</td>
      <td>
        <a class="btn btn-primary" [routerLink]="['/admin/pharmacy/add', pharmacy.id ]">Edit</a>
        <a class="btn btn-primary" [routerLink]="['/admin/pharmacy/medicines', pharmacy.id ]">Views medicines</a>

        <a class="btn btn-secondary"  data-toggle="modal" data-target="#deleteModal" data-pharmacy-id="pharmacy.id">Delete</a>
      </td>
  </tr>
  </tbody>
</table>


  <!-- Logout Modal-->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Delete Pharmacy</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Are you sure you want to delete this pharmacy?</div>
        <div class="modal-footer">
          <!-- <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button> -->
          <a class="btn btn-primary" (click)='deletePharmacy(pharmacy-id)'>Delete</a>
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>